.heading{
	text-align: center;
	margin-top: 5rem;
}
body{
  background-image: url('bg_image_esdeath.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.alert{
	padding: 20px;
	background-color: gray;
	color: white;
	margin-bottom: 15px;
}

.closebtn{
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}
.closebtn:hover{
	color: black;
}